set timeout=0
menuentry "BraiNIX" {
    multiboot2 /boot/brainix-bootloader
    module  /boot/init.elf
    module  /boot/spawnd.elf
    module  /boot/auditd.elf
    module  /boot/devd-nic.elf
    module  /boot/devd-disk.elf
    module  /boot/linkd.elf
    module  /boot/ipd.elf
    module  /boot/transportd.elf
    boot
}
